#page-header, #page-footer {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.comparison {
    article > .before {
        height: 10rem;
        background-color: red;
        border-radius: 8px;
    }

    article > .after {
        height: 10rem;
        background-color: red;
        border-radius: 8px;
    }
}

.details {
    font-size: 0.875rem;
    line-height: 0.25rem;
}
